<a href="https://colab.research.google.com/github/entangelk/Study_Temps/blob/main/initial_yohan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('github')

github

In [ ]:
# 여긴 화면 출력 명령어
'''여긴 화면 출력 명령어'''
print('안녕하세요. 첫 개발 시작입니다.') #안녕출력

안녕하세요. 첫 개발 시작입니다.

In [ ]:
#q1 문자출력
print('박요한은 데이터 엔지니어 양성과정을 듣습니다.')

박요한은 데이터 엔지니어 양성과정을 듣습니다.

In [ ]:
# 문자화된 숫자 출력 with 상수
print('4 + 5')

4 + 5

In [ ]:
#계산 결과 출력 with 상수
print(4+5)

9

In [ ]:
# 문자 변수 활용
numberwithval = '4 + 5'
print(numberwithval)

4 + 5

In [ ]:
# 문자 변수 활용2
numberwithval = '4 + 5'
print(numberwithval)
numberwithval = '40 + 50'
print(numberwithval)

4 + 5
40 + 50

In [ ]:
# 숫자화된 변수 출력 with 변수
numberwithval = '4 + 5'
numbers = numberwithval + ' = 9' # 4 + 5 = 9
print(numbers)

4 + 5 = 9

In [ ]:
#예제
define_number = 10
numberwithval = numberwithval + str(define_number)
print(numberwithval)

4 + 510

In [ ]:
# 데이터 타입이 숫자 with 변수
result = 4 + 5
print(result)

9

In [ ]:
# 두 수를 입력 받아 변수에 넣고 결과 출력
input = 4
inputtwo = 5
result = input + inputtwo
print(result)

9

In [ ]:
# 위에 내용 반복
input = 8
inputtwo = 9
result = input + inputtwo
print(result)

17

In [ ]:
# 여긴 화면 출력 명령어
'''여긴 화면 출력 명령어'''
print('안녕하세요. 첫 개발 시작입니다.') #안녕출력
#q1 문자출력
print('박요한은 데이터 엔지니어 양성과정을 듣습니다.')
#문자화된 숫자 출력 with 상수
print('4 + 5')
#계산 결과 출력 with 상수
print(4+5)
# 문자 변수 활용
numberwithval = '4 + 5'
print(numberwithval)
# 문자 변수 활용2
numberwithval = '4 + 5'
print(numberwithval)
numberwithval = '40 + 50'
print(numberwithval)
# 숫자화된 변수 출력 with 변수
numberwithval = '4 + 5'
numbers = numberwithval + ' = 9' # 4 + 5 = 9
print(numbers)
#예제
define_number = 10
numberwithval = numberwithval + str(define_number)
print(numberwithval)
# 데이터 타입이 숫자 with 변수
result = 4 + 5
print(result)
# 두 수를 입력 받아 변수에 넣고 결과 출력
input = 4
inputtwo = 5
result = input + inputtwo
print(result)
# 위에 내용 반복
input = 8
inputtwo = 9
result = input + inputtwo
print(result)

안녕하세요. 첫 개발 시작입니다.
박요한은 데이터 엔지니어 양성과정을 듣습니다.
4 + 5
9
4 + 5
4 + 5
40 + 50
4 + 5 = 9
4 + 510
9
9
17